
body { font-family: Arial, sans-serif; line-height: 1.4; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; 
}

h1, h2 { color: #2c3e50; 
}

.section {
    background-color:whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}


img {
    max-width: 80%;
    height: auto;
    padding: 10px;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skill-tag {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
}

.project { 
    background-color: #f4f4f4; padding: 20px; margin-bottom: 20px; border-radius: 5px; 
}

.project-grid{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.project-description { 
    background-color: PaleTurquoise; 
    padding: 20px; 
    border-radius: 5px; 
}

.project-card {
    background-color: rgb(226, 234, 236);
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
}

.project-card:hover {
    background-color:lightblue;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 15px 5px rgb(9, 205, 205);
    cursor: pointer;
}

.project-card p, .project-card h3, .project-card a, a {
    color: rgb(45, 45, 109);
    line-height: 1.2;
    text-decoration: none;

}

.links {
    text-decoration-line: underline;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: gray;
    color:rgb(45, 45, 109)
}

.links:hover{
    text-decoration-color: DeepSkyBlue;

}

hr {
     border: 1px solid rgb(221, 213, 213);
}

